@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul{
	padding-left: 0 !important;
}
li{
	list-style: none;
}
section{
	padding: 50px 0;
}
.searchbar{
	padding: 10px 0;
}
.searchbar-content{
	background: #fff;
	border-radius: 50px;
	border: 2px solid #1d5b9e33;
	padding: 3px;
}
.searchbar-content input{
	border: none;
	font-size: 16px;
	color: #716767;
	margin-left: 15px;
}
.searchbar-content input::placeholder{
	color: #818181;
	font-size: 18px;
}
.searchbar-content input:focus{
	outline: none;
}
.searchbar-content i{
	color: #fff;
	font-size: 18px;
	background: #1D5B9E;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.small-menu a{
	margin-left: 10px;
	text-decoration: none;
	color: #373A37;
	font-size: 16px;
	font-weight: 700;
}
.small-menu .dropdown ul li{
	margin: 5px 0;
}
.topbar .dropdown-toggle::after{
	color: #706A6A;
}
.signup{
	background: #1D5B9E;
    color: #fff !important;
    border: 1px solid #1D5B9E;
    padding: 8px 15px;
    border-radius: 4px;
}
.login{
	border: 1px solid #1D5B9E;
	background: transparent;
    padding: 8px 15px;
    border-radius: 4px;
}
.login:hover, .login:focus{
	background: #1D5B9E;
    color: #fff !important;
    transition: 0.5s ease-in-out;
}
.menubar{
	background: #1D5B9E;
}
.menubar .dropdown-menu{
	margin-top: 7px;
	padding: 0;
}
.menubar .dropdown-menu li{
	background: #1D5B9E;
}
.menubar .dropdown-item:focus, .dropdown-item:hover{
	background: #1D5B9E;
}
.menubar .dropdown-menu li:nth-child(2){
	margin: 3px 0;
}
.menubar .dropdown-menu li a{
	color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;	
}
.calendar{
	color: #FABB1A !important;
	font-size: 22px !important;
}
.navbar-nav{
    width: 100%;
	justify-content: space-between;
}
.topbar .navbar{
	padding: 0 !important;
}
.navbar-brand img{
	width: 65%;
}
.nav-link{
	color: #fff !important;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: .5rem 0 !important;
}
.nav-link:focus, .nav-link:hover{
	color: #fff !important;
}
.banner{
	position: relative;
	padding: 0 !important;
}
.slider{
	position: relative;
}
.slider-text{
	position: absolute;
	top: 75px;
	left: 125px;
}
.banner h1{
	width: 50%;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
	color: #fff;
	margin-bottom: 20px;
}
.banner p{
	width: 55%;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	color: #fff;
	margin-bottom: 80px;
}
.banner .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    top: 90%;
    left: 35%;
}

.banner .owl-theme .owl-dots .owl-dot span {
    width: 11px;
    height: 11px;
    background: #fff;
    margin: 5px 50px;
    box-shadow: 0 0 0 8px #818181bf;
}
.banner .owl-theme .owl-dots .owl-dot.active span{
	background: #1D5B9E;
}
.banner .searchbar{
	display: none;
}
.banner-filter{
	position: absolute;
	top: 70%;
	left: 15%;
	width: 70%;
	background: #fff;
	padding: 15px;
	border-radius: 60px;
	z-index: 1;
}
.banner-filter .filter-content{
	width: 22%;
	margin-left: 5px;
}
.banner-filter .filter-content span{
	color: #716767;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.banner-filter .filter-content input{
	border: none;
	font-size: 16px;
	color: #716767;
	width: 100%;
}
.banner-filter .filter-content input::placeholder{
	color: #818181;
	font-size: 14px;
}
.banner-filter .filter-content input:focus{
	outline: none;
}
.filter-divider {
    height: 40px;
    border-right: 1px solid #818181;
    margin: auto 15px;
}
.filter-search i{
	background: #1D5B9E;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
	color: #fff;
	font-size: 18px;
}
.social-menu{
	position: absolute;
	top: 25%;
	right: 5%;
	z-index: 1;
}
.social-menu i{
	font-size: 40px;
	margin: 20px 0;
	color: #fff;
}
.review-content{
	width: 100%;
}
.review-left{
	width: 50%;
	height: 45vh;
	background: #1D5B9E;
	padding: 55px 40px;
	border-radius: 10px 0 0 10px;
}
.review-left h2{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.review-left p{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	margin-bottom: 38px !important;
}
.review-left a{
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #818181;
	background: #ECE8E8;
	border-radius: 5px;
	padding: 18px 32px;
}
.review-right{
	width: 50%;
	height: 45vh;
	position: relative;
}
.review-right img{
	border-radius: 0 10px 10px 0;
}
.review-right-text{
	position: absolute;
	top: 20%;
	left: 6%;
}
.review-right h3{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}
.review-right span{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.review-right p{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	margin-top: 20px !important;
	margin-right: 95px;
}
.review-content .owl-theme .owl-nav.disabled+.owl-dots{
	display: none;
}
.get-start{
	text-align: center;
	margin-top: 65px;
}
.get-start a{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background: #1D5B9E;
	border-radius: 10px;
	padding: 20px 70px;
}
.why-choose-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 15px;
}
.why-choose-content h3{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #818181;
	margin: 10px 0;
}
.why-choose-content p{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #818181;
	text-align: justify;
}
.why-choose-content p a{
	color: #1D5B9E;
}
.how-work-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 15px;
}
.how-work-content h3{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #818181;
	margin: 10px 0;
}
.how-work-content p{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #818181;
	text-align: justify;
}
.how-work-content p a{
	color: #1D5B9E;
}
.do-more{
	background: #1D5B9E;
}
.do-more-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;
}
.do-more-title p{
	width: 53%;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.do-more-content{
	margin-top: 30px;
}
.do-more-content h3{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	margin: 10px 0;
	text-transform: uppercase;
}
.do-more-content p{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.features-list{
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	align-items: center;
}
.features-list span{
	font-size: 18px;
	color: #fff;
}
.features-list i{
	font-size: 18px;
	color: #fff;
}
.features-img {
	position: relative;
}
.features-img img{
	width: 100%;
}
.tools-res{
	background: #81818133;
}
.tools-res-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 40px;
}
.tools-card{
	background: #fff;
	padding: 0!important;
	border-radius: 90px;
	width: 48%;
}
.card-elements img{
    border-radius: 50%;
}
.card-elements-text span{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #818181;
}
.card-elements-text p{
	width: 80%;
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 15px;
	color: #818181;
	margin-bottom: 0;
	text-align: justify;
}
.partner-title{
	margin-bottom: 15px;
}
.partner-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 5px;
}
.partner-title p{
	width: 53%;
	font-size: 16px;
	color: #9A9CA5;
	text-align: center;
	margin: 0 auto;
}
.partner-content{
	padding: 25px 0;
}
.partner-content .owl-theme .owl-nav.disabled+.owl-dots{
	display: none;
}
.partner-content .owl-carousel .owl-item img{
	width: auto;
	margin: 0 auto;
}
.download-app{
	background: #FCBB20;
}
.download-app-img img{
	width: 55%;
}
.download-app-content span{
	font-family: 'Poppins', sans-serif;
	font-size: 38px;
	font-weight: 500;
	color: #832420;
}
.download-app-content p{
	width: 65%;
	font-size: 14px;
	line-height: 21px;
	color: #A0332B;
	margin-top: 10px;
	margin-bottom: 20px;
}
.footer-menu{
	padding: 15px 0;
	background: #262627;
}
.footer-menu li a{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

/*sticky navbar css*/
.sticky {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 9;
}
/* back to top btn css */
#back-top {
    background-color: #1D5B9E;
    color: #fff;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}
#back-top:hover {
    cursor: pointer;
}
#back-top.show {
    opacity: 1;
    visibility: visible;
}
/*countdown css*/
#countdown{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.single-count h1{
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
    color: #fff;
    background: #1B6CB4;
    font-size: 40px;
    border-radius: 10px;
}
.single-count span{
    color: #818181;
    font-size: 20px;
}

/*consultancy page css here*/
.consultant .calender h4{
	color: #818181;
	text-align: center;
}
.consultant .calender a{
	display: block;
	color: #94D1E7;
	text-align: center;
	font-size: 14px;
}
.countdown-bar p{
	font-size: 16px;
	font-weight: 700;
	color: #1B6CB4;
	text-transform: uppercase;
	margin-top: 20px;
}
.consultant-img{
	position: relative;
}
.consultant-img img{
	border-radius: 50%;
}
.active-status{
	position: absolute;
	width: 12px;
	height: 12px;
	background: #96C45E;
	top: 75%;
	right: 5%;
	border-radius: 50%;
	border: 2px solid  #fff;
}
.consultant-text h6{
	font-size: 18px;
	font-weight: 700;
	color: #818181;
	text-transform: uppercase;
}
.consultant-text span{
	font-size: 12px;
	font-weight: 500;
	color: #818181;
	vertical-align: middle;
}
.consultant-text img{
	margin-right: 10px;
}
.consultant-meet{
	margin: auto 0 auto auto;
}
.consultant-meet a{
	background: #1D5B9E;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	text-transform: uppercase;
}
.consultant-meet a i{
	margin-right: 10px;
}
.consultant-rating span{
	font-size: 14px;
	font-weight: 700;
	color: #818181;
	text-transform: uppercase;
}
.consultant-rating i{
	color: #FFCE31;
	font-size: 14px;
}
.consultant-details p{
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	color: #818181;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 30px;
}
.consultant-details a{
	font-size: 14px;
	font-weight: 500;
	color: #818181;
	text-transform: uppercase;
	background: #ECE8E8;
	padding: 15px 20px;
	border-radius: 5px;
}
.consulting-balance{
	background: #1D5B9E;
	padding: 30px;
	text-align: center;
	margin-top: 35px;
	border-radius: 10px;
}
.consulting-balance p:nth-child(1){
	font-size: 14px;
	color: #C3DEE9;
	text-align: center;
}
.consulting-balance p:nth-child(2){
	font-size: 12px;
	color: #DEF5FF;
	text-transform: uppercase;
	margin: 25px 0;
	text-align: center;
}
.consulting-balance h1{
	color: #fff;
}
.document-checklist{
	position: relative;
}
.document-checklist::before{
	content: "";
	position: absolute;
	top: 0;
	left: -5px;
	background: #C5C6C6;
	height: 100%;
	width: 3px;
}
.checklist-details{
	position: relative;
	background: #F8F3F3;
	padding: 20px;
	border-radius: 15px;
}
.checklist-details::before{
	content: "";
	position: absolute;
	top: 122px;
	left: -35px;
	background: #969C9C;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 5px solid #fff;
}
.checklist-details::after{
	content: "Stage 1";
	position: absolute;
	top: 128px;
    left: -110px;
    font-size: 18px;
    color: #818181;
}
.checklist-details:nth-child(2):before{
	content: '\f35b';
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.checklist-details:nth-child(2):after{
	content: "Stage 2";
	position: absolute;
	top: 128px;
    left: -110px;
    font-size: 18px;
    color: #818181;
}
.checklist-details:nth-child(3):before{
	content: '\f055';
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.checklist-details:nth-child(3):after{
	content: "Stage 3";
	position: absolute;
	top: 128px;
    left: -110px;
    font-size: 18px;
    color: #818181;
}
.document-process-bar{
	position: relative;
	height: 20px;
	width: 150px;
	background: #DDE8EC;
	border-radius: 25px;
}
.document-total-process{
	position: absolute;
	background: #76C662;
	height: 100%;
	width: 69%;
	border-radius: 25px;
}
.checklist-details h5{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #818181;
	margin-bottom: 20px;
	padding-left: 20px;
}
.checklist-title{
	padding-left: 20px;
}
.checklist-title h6{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #818181;
}
.checklist-data{
	background: #fff;
	padding-left: 20px;
	margin: 20px 0;
}
.document-type{
	background: #EDF2F4;
    padding: 15px 0 15px 20px;
    border-left: 3px solid #FF947D;
}
.document-process, .document-data, .document-time, .document-status{
	padding: 20px 0;
}
.checklist-data span{
	font-size: 14px;
	font-weight: 500;
	color: #818181;
}
.document-status i{
	color: #76C662;
}
/*blog page css here*/
.blog-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #1E1D1B;
	text-transform: uppercase;
}
.blog-author-img img{
	border-radius: 50%;
}
.blog-author-des h5{
	font-size: 22px;
	color: #4C4339;
}
.blog-author-des p{
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	color: #4C4339;
	margin-bottom: 0;
}
.popular-consultant h5{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #373A37;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.consultant-card-left{
	width: 40%;
}
.consultant-img{
	position: relative;
}
.cosultant-country{
	position: absolute;
	top: 25px;
    left: 30px;
}
.consultant-review{
	font-size: 10px;
	color: #FFC400;
	margin-top: 10px;
}
.consultant-card-left p{
	font-size: 10px;
	color: #818181;
}
.consultant-card-left a{
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	background: #1B6CB4;
	padding: 8px 16px;
	border-radius: 1px;
}
.consultant-card-right{
	width: 60%;
}
.consultant-bookmark i{
	font-size: 18px;
	color: #F07777;
}
.consultant-name h6{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #4B4B4B;
}
.consultant-name p{
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	color: #818181;
	text-transform: uppercase;
}
.consultant-card-right span{
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	color: #818181;
	text-transform: uppercase;
}
.view-more-btn a{
	font-size: 10px;
	color: #818181;
	background: #F6F1F1;
	padding: 10px;
	border-radius: 5px;
}
.blog-des h4{
	font-size: 24px;
	font-weight: 600;
	color: #1D1D1B;
}
.blog-des p{
	font-size: 16px;
	line-height: 22px;
	color: #4B4B4B;
	text-align: justify;
}
.blog-des p i::nth-child(2){
	color: #818181;
}
.start-learning-btn a{
	font-size: 16px;
	color: #fff;
	background: #1B6CB4;
	padding: 20px 40px;
	border-radius: 5px;
}
.author-short-des{
	margin-top: 100px;
	padding-top: 50px;
	border-top: 5px solid #FBBC19;
}
.author-short-des h6{
	font-size: 18px;
	color: #818181;
	margin-top: 10px;
}
.author-short-des h4{
	font-size: 24px;
	color: #1D5B9E;
}
.author-short-des p{
	font-size: 16px;
	color: #4B4B4B;
}
/*consultant page css code here*/
.consultant-title h4{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: #1E1D1B;
}
.consultant-title .searchbar{
	width: 56%;
	margin: 0 auto;
}
.viewed-consultant .cosultant-country{
	top: 40px;
    left: 50px;
}
.viewed-consultant-title h6{
	font-size: 14px;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 30px;
}
.viewed-consultant .consultant-title h4{
	font-size: 16px;
	font-weight: 500;
	color: #494446;
}
.viewed-consultant .consultant-title p{
	font-size: 10px;
	font-weight: 500;
	color: #818181;
	text-transform: capitalize;
	text-align: justify;
}
.consultant-list a{
	font-size: 14px;
	font-weight: 700;
	color: #94D1E7;
	margin: 0 auto;

}
.consultant-bio-left .consultant-review{
	font-size: 12px;
}
.consultant-bio-left .consultant-review a{
	font-family: 'Poppins', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
    background: #1B6CB4;
    padding: 3px 10px;
    border-radius: 1px;
    height: auto;
    vertical-align: middle;
    margin-left: 15px;
}
.consultancy-topic-title h6{
	font-size: 14px;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 30px;
}
.consultancy-topic .consultant-title h4{
	font-size: 16px;
	font-weight: 500;
	color: #494446;
	text-align: left;
}
.consultancy-topic .consultant-title p{
	font-size: 10px;
	font-weight: 500;
	color: #818181;
	text-transform: capitalize;
	text-align: justify;
}
.consultant-bio-left{
	width: 30%;
}
.consultant-bio-right{
	width: 65%;
}
.consultant-bio-right h3{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #4B4B4B;
}
.consultant-bio-right p{
	font-size: 12px;
	font-weight: 500;
	color: #4B4B4B;
	margin-bottom: 5px;
}
.page-pagination a{
	color: #818181;
	border: 1px solid #1d5b9e33;
}
.page-pagination a:hover{
	color: #fff;
	background: #1B6CB4;
	border: 1px solid #1B6CB4;
	transition: 0.7s ease-in-out;
}
