@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul{
	padding-left: 0 !important;
}
li{
	list-style: none;
}
section{
	padding: 50px 0;
}
.searchbar{
	padding: 10px 0;
}
.searchbar-content{
	background: #fff;
	border-radius: 50px;
	border: 2px solid #1d5b9e33;
	padding: 3px;
}
.searchbar-content input{
	border: none;
	font-size: 16px;
	color: #716767;
	margin-left: 15px;
}
.searchbar-content input::placeholder{
	color: #818181;
	font-size: 18px;
}
.searchbar-content input:focus{
	outline: none;
}
.searchbar-content i{
	color: #fff;
	font-size: 18px;
	background: #1D5B9E;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.small-menu a{
	margin-left: 10px;
	text-decoration: none;
	color: #373A37;
	font-size: 16px;
	font-weight: 700;
}
.small-menu .dropdown ul li{
	margin: 5px 0;
}
.topbar .dropdown-toggle::after{
	color: #706A6A;
}
.signup{
	background: #1D5B9E;
    color: #fff !important;
    border: 1px solid #1D5B9E;
    padding: 8px 15px;
    border-radius: 4px;
}
.login{
	border: 1px solid #1D5B9E;
	background: transparent;
    padding: 8px 15px;
    border-radius: 4px;
}
.login:hover, .login:focus{
	background: #1D5B9E;
    color: #fff !important;
    transition: 0.5s ease-in-out;
}
.menubar{
	background: #1D5B9E;
}
.menubar .dropdown-menu{
	margin-top: 7px;
	padding: 0;
}
.menubar .dropdown-menu li{
	background: #1D5B9E;
}
.menubar .dropdown-item:focus, .dropdown-item:hover{
	background: #1D5B9E;
}
.menubar .dropdown-menu li:nth-child(2){
	margin: 3px 0;
}
.menubar .dropdown-menu li a{
	color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;	
}
.calendar{
	color: #FABB1A !important;
	font-size: 22px !important;
}
.navbar-nav{
    width: 100%;
	justify-content: space-between;
}
.topbar .navbar{
	padding: 0 !important;
}
.navbar-brand img{
	width: 65%;
}
.nav-link{
	color: #fff !important;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: .5rem 0 !important;
}
.nav-link:focus, .nav-link:hover{
	color: #fff !important;
}
.banner{
	position: relative;
	padding: 0 !important;
}
.slider{
	position: relative;
}
.slider-text{
	position: absolute;
	top: 75px;
	left: 125px;
}
.banner h1{
	width: 50%;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
	color: #fff;
	margin-bottom: 20px;
}
.banner p{
	width: 55%;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	color: #fff;
	margin-bottom: 80px;
}
.banner .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    top: 90%;
    left: 35%;
}

.banner .owl-theme .owl-dots .owl-dot span {
    width: 11px;
    height: 11px;
    background: #fff;
    margin: 5px 50px;
    box-shadow: 0 0 0 8px #818181bf;
}
.banner .owl-theme .owl-dots .owl-dot.active span{
	background: #1D5B9E;
}
.banner .searchbar{
	display: none;
}
.banner-filter{
	position: absolute;
	top: 70%;
	left: 15%;
	width: 70%;
	background: #fff;
	padding: 15px;
	border-radius: 60px;
	z-index: 1;
}
.banner-filter .filter-content{
	width: 22%;
	margin-left: 5px;
}
.banner-filter .filter-content span{
	color: #716767;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.banner-filter .filter-content input{
	border: none;
	font-size: 16px;
	color: #716767;
	width: 100%;
}
.banner-filter .filter-content input::placeholder{
	color: #818181;
	font-size: 14px;
}
.banner-filter .filter-content input:focus{
	outline: none;
}
.filter-divider {
    height: 40px;
    border-right: 1px solid #818181;
    margin: auto 15px;
}
.filter-search i{
	background: #1D5B9E;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
	color: #fff;
	font-size: 18px;
}
.social-menu{
	position: absolute;
	top: 25%;
	right: 5%;
	z-index: 1;
}
.social-menu i{
	font-size: 40px;
	margin: 20px 0;
	color: #fff;
}
.review-content{
	width: 100%;
}
.review-left{
	width: 50%;
	height: 45vh;
	background: #1D5B9E;
	padding: 55px 40px;
	border-radius: 10px 0 0 10px;
}
.review-left h2{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.review-left p{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	margin-bottom: 38px !important;
}
.review-left a{
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #818181;
	background: #ECE8E8;
	border-radius: 5px;
	padding: 18px 32px;
}
.review-right{
	width: 50%;
	height: 45vh;
	position: relative;
}
.review-right img{
	border-radius: 0 10px 10px 0;
}
.review-right-text{
	position: absolute;
	top: 20%;
	left: 6%;
}
.review-right h3{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}
.review-right span{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.review-right p{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	margin-top: 20px !important;
	margin-right: 95px;
}
.review-content .owl-theme .owl-nav.disabled+.owl-dots{
	display: none;
}
.get-start{
	text-align: center;
	margin-top: 65px;
}
.get-start a{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background: #1D5B9E;
	border-radius: 10px;
	padding: 20px 70px;
}
.why-choose-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 15px;
}
.why-choose-content h3{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #818181;
	margin: 10px 0;
}
.why-choose-content p{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #818181;
	text-align: justify;
}
.why-choose-content p a{
	color: #1D5B9E;
}
.how-work-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 15px;
}
.how-work-content h3{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #818181;
	margin: 10px 0;
}
.how-work-content p{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #818181;
	text-align: justify;
}
.how-work-content p a{
	color: #1D5B9E;
}
.do-more{
	background: #1D5B9E;
}
.do-more-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;
}
.do-more-title p{
	width: 53%;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.do-more-content{
	margin-top: 30px;
}
.do-more-content h3{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	margin: 10px 0;
	text-transform: uppercase;
}
.do-more-content p{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.features-list{
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	align-items: center;
}
.features-list span{
	font-size: 18px;
	color: #fff;
}
.features-list i{
	font-size: 18px;
	color: #fff;
}
.features-img {
	position: relative;
}
.features-img img{
	width: 100%;
}
.tools-res{
	background: #81818133;
}
.tools-res-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 40px;
}
.tools-card{
	background: #fff;
	padding: 0!important;
	border-radius: 90px;
	width: 48%;
}
.card-elements img{
    border-radius: 50%;
}
.card-elements-text span{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #818181;
}
.card-elements-text p{
	width: 80%;
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 15px;
	color: #818181;
	margin-bottom: 0;
	text-align: justify;
}
.partner-title{
	margin-bottom: 15px;
}
.partner-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 5px;
}
.partner-title p{
	width: 53%;
	font-size: 16px;
	color: #9A9CA5;
	text-align: center;
	margin: 0 auto;
}
.partner-content{
	padding: 25px 0;
}
.partner-content .owl-theme .owl-nav.disabled+.owl-dots{
	display: none;
}
.partner-content .owl-carousel .owl-item img{
	width: auto;
	margin: 0 auto;
}
.download-app{
	background: #FCBB20;
}
.download-app-img img{
	width: 55%;
}
.download-app-content span{
	font-family: 'Poppins', sans-serif;
	font-size: 38px;
	font-weight: 500;
	color: #832420;
}
.download-app-content p{
	width: 65%;
	font-size: 14px;
	line-height: 21px;
	color: #A0332B;
	margin-top: 10px;
	margin-bottom: 20px;
}
.footer-menu{
	padding: 15px 0;
	background: #262627;
}
.footer-menu li a{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

/*sticky navbar css*/
.sticky {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 9;
}
/* back to top btn css */
#back-top {
    background-color: #1D5B9E;
    color: #fff;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}
#back-top:hover {
    cursor: pointer;
}
#back-top.show {
    opacity: 1;
    visibility: visible;
}
/*countdown css*/
#countdown{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.single-count h1{
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
    color: #fff;
    background: #1B6CB4;
    font-size: 40px;
    border-radius: 10px;
}
.single-count span{
    color: #818181;
    font-size: 20px;
}

/*consultancy page css here*/
.calender h4{
	color: #818181;
	text-align: center;
}
.calender a{
	display: block;
	color: #94D1E7;
	text-align: center;
	font-size: 14px;
}
.countdown-bar p{
	font-size: 16px;
	font-weight: 700;
	color: #1B6CB4;
	text-transform: uppercase;
	margin-top: 20px;
}
.consultant-img{
	position: relative;
}
.consultant-img img{
	border-radius: 50%;
}
.active-status{
	position: absolute;
	width: 12px;
	height: 12px;
	background: #96C45E;
	top: 75%;
	right: 5%;
	border-radius: 50%;
	border: 2px solid  #fff;
}
.consultant-text h6{
	font-size: 18px;
	font-weight: 700;
	color: #818181;
	text-transform: uppercase;
}
.consultant-text span{
	font-size: 12px;
	font-weight: 500;
	color: #818181;
	vertical-align: middle;
}
.consultant-text img{
	margin-right: 10px;
}
.consultant-meet{
	margin: auto 0 auto auto;
}
.consultant-meet a{
	background: #1D5B9E;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	text-transform: uppercase;
}
.consultant-meet a i{
	margin-right: 10px;
}
.consultant-rating span{
	font-size: 14px;
	font-weight: 700;
	color: #818181;
	text-transform: uppercase;
}
.consultant-rating i{
	color: #FFCE31;
	font-size: 14px;
}
.consultant-details p{
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	color: #818181;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 30px;
}
.consultant-details a{
	font-size: 14px;
	font-weight: 500;
	color: #818181;
	text-transform: uppercase;
	background: #ECE8E8;
	padding: 15px 20px;
	border-radius: 5px;
}
.consulting-balance{
	background: #1D5B9E;
	padding: 30px;
	text-align: center;
	margin-top: 35px;
	border-radius: 10px;
}
.consulting-balance p:nth-child(1){
	font-size: 14px;
	color: #C3DEE9;
	text-align: center;
}
.consulting-balance p:nth-child(2){
	font-size: 12px;
	color: #DEF5FF;
	text-transform: uppercase;
	margin: 25px 0;
	text-align: center;
}
.consulting-balance h1{
	color: #fff;
}
.document-checklist{
	position: relative;
}
.document-checklist::before{
	content: "";
	position: absolute;
	top: 0;
	left: -5px;
	background: #C5C6C6;
	height: 100%;
	width: 3px;
}
.checklist-details{
	position: relative;
	background: #F8F3F3;
	padding: 20px;
	border-radius: 15px;
}
.checklist-details::before{
	content: "";
	position: absolute;
	top: 122px;
	left: -35px;
	background: #969C9C;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 5px solid #fff;
}
.checklist-details::after{
	content: "Stage 1";
	position: absolute;
	top: 128px;
    left: -110px;
    font-size: 18px;
    color: #818181;
}
.checklist-details:nth-child(2):before{
	content: '\f35b';
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.checklist-details:nth-child(2):after{
	content: "Stage 2";
	position: absolute;
	top: 128px;
    left: -110px;
    font-size: 18px;
    color: #818181;
}
.checklist-details:nth-child(3):before{
	content: '\f055';
    font-family: "Font Awesome 5 Pro";
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.checklist-details:nth-child(3):after{
	content: "Stage 3";
	position: absolute;
	top: 128px;
    left: -110px;
    font-size: 18px;
    color: #818181;
}
.document-process-bar{
	position: relative;
	height: 20px;
	width: 150px;
	background: #DDE8EC;
	border-radius: 25px;
}
.document-total-process{
	position: absolute;
	background: #76C662;
	height: 100%;
	width: 69%;
	border-radius: 25px;
}
.checklist-details h5{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #818181;
	margin-bottom: 20px;
	padding-left: 20px;
}
.checklist-title{
	padding-left: 20px;
}
.checklist-title h6{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #818181;
}
.checklist-data{
	background: #fff;
	padding-left: 20px;
	margin: 20px 0;
}
.document-type{
	background: #EDF2F4;
    padding: 15px 0 15px 20px;
    border-left: 3px solid #FF947D;
}
.document-process, .document-data, .document-time, .document-status{
	padding: 20px 0;
}
.checklist-data span{
	font-size: 14px;
	font-weight: 500;
	color: #818181;
}
.document-status i{
	color: #76C662;
}
/*blog page css here*/
.blog-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #1E1D1B;
	text-transform: uppercase;
}
.blog-author-img img{
	border-radius: 50%;
}
.blog-author-des h5{
	font-size: 22px;
	color: #4C4339;
}
.blog-author-des p{
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	color: #4C4339;
	margin-bottom: 0;
}
.popular-consultant h5{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #373A37;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.consultant-card-left{
	width: 35%;
}
.consultant-img{
	position: relative;
}
.cosultant-country{
	position: absolute;
	top: 25px;
    left: 30px;
}
.consultant-review{
	font-size: 10px;
	color: #FFC400;
	margin-top: 10px;
}
.consultant-card-left p{
	font-size: 10px;
	color: #818181;
}
.consultant-card-left a{
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	background: #1B6CB4;
	padding: 8px 16px;
	border-radius: 3px;
}
.consultant-card-right{
	width: 65%;
}
.consultant-bookmark i{
	font-size: 18px;
	color: #F07777;
}
.consultant-name h6{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #4B4B4B;
}
.consultant-name p{
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	color: #818181;
	text-transform: uppercase;
}
.consultant-card-right span{
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	color: #818181;
	text-transform: uppercase;
}
.view-more-btn a{
	font-size: 10px;
	color: #818181;
	background: #F6F1F1;
	padding: 10px;
	border-radius: 5px;
}
.blog-des h4{
	font-size: 24px;
	font-weight: 600;
	color: #1D1D1B;
}
.blog-des p{
	font-size: 16px;
	line-height: 22px;
	color: #4B4B4B;
	text-align: justify;
}
.blog-des p i::nth-child(2){
	color: #818181;
}
.start-learning-btn a{
	font-size: 16px;
	color: #fff;
	background: #1B6CB4;
	padding: 20px 40px;
	border-radius: 5px;
}
.author-short-des{
	margin-top: 100px;
	padding-top: 50px;
	border-top: 5px solid #FBBC19;
}
.author-short-des h6{
	font-size: 18px;
	color: #818181;
	margin-top: 10px;
}
.author-short-des h4{
	font-size: 24px;
	color: #1D5B9E;
}
.author-short-des p{
	font-size: 16px;
	color: #4B4B4B;
}
/*consultant page css code here*/
.consultant-section{
	background: #FAF3F3;
}
.consultant-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: #1E1D1B;
	margin-bottom: 30px;
}
.consultant-title .searchbar{
	width: 308px;
	margin: 0 auto;
}
.consultant-title .searchbar-content{
	padding: 5px;
}
.viewed-consultant{
	padding: 20px;
	background: #fff;
	border-radius: 10px;
}
.viewed-consultant .cosultant-country{
	top: 40px;
    left: 50px;
}
.viewed-consultant-title h6{
	font-size: 14px;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 30px;
}
.viewed-consultant .consultant-title h4{
	font-size: 14px;
	font-weight: 500;
	color: #494446;
}
.viewed-consultant .consultant-title p{
	font-size: 10px;
	font-weight: 500;
	color: #818181;
	text-transform: capitalize;
	text-align: justify;
}
.consultant-list a{
	font-size: 14px;
	font-weight: 700;
	color: #94D1E7;
	margin: 0 auto;

}
.consultant-bio{
	padding: 20px;
	background: #fff;
	border-radius: 10px;
}
.consultant-bio-left .consultant-review{
	font-size: 12px;
}
.consultant-bio-left .consultant-review a{
	font-family: 'Poppins', sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	color: #fff;
	background: #1B6CB4;
	padding: 3px 10px;
	border-radius: 3px;
	height: auto;
	vertical-align: middle;
	margin-left: 3px;
}
.consultancy-topic{
	padding: 20px;
	background: #fff;
	border-radius: 10px;
}
.consultancy-topic-title h6{
	font-size: 14px;
	text-transform: uppercase;
	color: #818181;
	margin-bottom: 30px;
}
.consultancy-topic .consultant-title h4{
	font-size: 14px;
	font-weight: 500;
	color: #494446;
}
.consultancy-topic .consultant-title p{
	font-size: 10px;
	font-weight: 500;
	color: #818181;
	text-transform: capitalize;
	text-align: justify;
}
.consultant-bio-left{
	width: 30%;
}
.consultant-bio-right{
	width: 65%;
}
.consultant-bio-right h3{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #4B4B4B;
}
.consultant-bio-right p{
	font-size: 12px;
	font-weight: 500;
	color: #4B4B4B;
	margin-bottom: 5px;
}
.page-pagination a{
	color: #818181;
	border: 1px solid #1d5b9e33;
}
.page-pagination a:hover{
	color: #fff;
	background: #1B6CB4;
	border: 1px solid #1B6CB4;
	transition: 0.7s ease-in-out;
}
/*pricing page css code here*/
.pricing{
	background: #F8F5F5;
	text-align: center;
}
.pricing-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: #4B4B4B;
	text-transform: uppercase;
}
.pricing-package .col-md-4{
	padding: 35px;
	background: #fff;
	border-radius: 50px;
	width: 32%;
}
.pricing-package .col-md-4:hover{
	box-shadow: 0 4px 6px 1px #4ee1f933;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.pricing-package .col-md-4:hover .pricing-text{
	opacity: 1;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.pricing-text{
	opacity: 0.7;
}
.pricing-text h6{
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.basic .pricing-text h6{
	color: #50B3DE;
	margin-bottom: 35px;
}
.standard .pricing-text h6{
	color: #FBBC19;
	margin-bottom: 35px;
}
.premium .pricing-text h6{
	color: #FA818D;
	margin-bottom: 35px;
}
.pricing-text span{
	font-size: 80px;
	font-weight: 700;
	color: #4D5E70;
}
.pricing-text span sup{
	font-size: 50px;
	font-weight: 500;
}
.pricing-text h5{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	color: #4D5E70;
	margin-bottom: 50px;
}
.pricing-text p{
	font-weight: 500;
	color: #7F8C97;
}
.pricing-text button{
	background: #1B6CB4;
	border-radius: 50px;
	color: #fff;
	padding: 10px 40px;
	border: 2px solid #1B6CB4;
	margin-top: 50px;
}
.package-summary .summary-title h6{
	font-size: 22px;
	font-weight: 700;
	color: #4B4B4B;
}
.package-summary .summary-title p{
	font-size: 18px;
	color: #5F5A51;
}
.package-summary .summary-title p:nth-child(3){
	font-size: 16px;
}
.package-summary .summary-title p:nth-child(4){
	font-size: 14px;
}
.package-summary .total-value span{
	font-size: 18px;
	color: #5F5A51;
}
.package-summary .subscription span{
	font-size: 18px;
	font-weight: 500;
	color: #50B3DE;
}
.package-summary .total-price span{
	font-size: 20px;
	font-weight: 600;
	color: #4B4B4B;
}
.package-summary .cancel-option{
	background: #E8F3F4;
	padding: 15px;
	margin-bottom: 30px;
	border-radius: 10px;
}
.package-summary .cancel-option span{
	font-size: 18px;
	color: #1B6CB4;
}
.package-summary .cancel-option .change-plan-btn{
	position: absolute;
    left: 71%;
}
.package-summary .cancel-option .change-plan-btn a{
	font-size: 18px;
	color: #fff;
	background: #137DC3;
	border-radius: 5px;
	padding: 15px;
	border: 3px solid #137DC3;
}
.package-summary .promo-content span{
	font-size: 18px;
	font-weight: 600;
	color: #4B4B4B;
	margin-right: 20px;
}
.package-summary .promo-input input{
	color: #5F5A51;
	padding: 10px;
	border-right: none;
	border: 1px solid #7F8C97;
}
.package-summary .promo-input input:focus{
	outline: none;
	border-radius: 0;
}
.package-summary .promo-input button{
	padding: 10px;
	background: #1B6CB4;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid #1B6CB4;
	outline: none;
}
.package-summary .invitation{
	text-align: left;
	padding-top: 150px;
}
.package-summary .invite-title h2{
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #4B4B4B;
}
.package-summary .invite-title p{
	font-size: 16px;
	color: #4B4B4B;
}
.package-summary .invite-title h3{
	font-size: 30px;
	color: #1B6CB4;
	margin-top: 50px;
	margin-bottom: 35px;
}
.package-summary .invite-form{
	width: 65%;
}
.package-summary .social-invite{
	width: 30%;
}
.package-summary .invite-form input{
	width: 100%;
	padding: 15px 10px;
	font-size: 14px;
}
.package-summary .invite-url{
	position: relative;
}
.package-summary .invite-link{
	position: absolute;
	top: -13px;
    left: 13px;
}
.package-summary .invite-link span{
	font-size: 14px;
	color: #4B4B4B;
	background: #fff;
	padding: 5px;
}
.package-summary .copy-clipboard{
	position: absolute;
	top: 30%;
    left: 92%;
}
.package-summary .copy-clipboard span{
	color: 4B4B4B;
}
.package-summary .social-invite a{
	font-size: 26px;
	margin: 0 5px;
	color: #1B6CB4;
}
.package-summary .social-invite .whatsapp{
	color: #2DC357 !important;
}
#view-pack{
	display: none;
}
#selected-pack{
	display: none;
}
.pricing-package .active{
	box-shadow: 0 4px 6px 1px #4ee1f933;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	transform: scale(1.1);
}
.pricing-package .active .pricing-text{
	opacity: 1;
}
/* student profile css here */
.student-intro-text h2{
	font-family: 'Poppins', sans-serif;
	font-size: 34px;
	font-weight: 700;
	color: #3D3434;
	margin-bottom: 20px;
}
.student-email{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
.student-number{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
.student-badge-btn{
	background: #1B6CB4;
	color: #fff;
	font-size: 12px;
	padding: 5px 15px;
	border-radius: 5px;
	display: inline-block !important;
	margin-top: 30px;
}
.selected-program-title span:nth-child(1){
	font-size: 14px;
	color: #8C97AC;
}
.master-badge{
	background: #0FBC491A;
	color: #0FBC49;
	font-size: 12px;
	padding: 5px 15px;
	border-radius: 5px;
	display: inline-block !important;
}
.selected-program-content h6{
	font-size: 16px;
	font-weight: 600;
	color: #1D293F;
	margin-bottom: 20px;
}
.selected-program-content p{
	font-size: 14px;
}
.stage-step span{
	font-size: 14px;
	color: #8C97AC;
}
.stage-box-heading span:nth-child(1){
	font-size: 14px;
	color: #8C97AC;
}
.stage-box h6{
	font-size: 22px;
	font-weight: 600;
	color: #1D293F;
}
.stage-box p{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
}
.complete-documents i{
	font-size: 15px;
	background: #5AD48B;
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.pending-documents i{
	font-size: 15px;
	background: #E8454E;
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.next-documents i{
	font-size: 15px;
	background: #50B3DE;
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.upload-text P{
	font-size: 14px;
	font-weight: 600;
	color: #1D293F;
	margin-bottom: 3px;
}
.upload-text span{
	font-size: 10px;
	color: #8C97AC;
}
.document-bg{
	background: #6d93a21a;
}
.infograph{
	position: relative;
	height: 245px;
	background: #fff;
}
.infograph .circle{
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1;
}
/* green infographic */
.infograph .green-border{
	border-color: #76C662;
}
.infograph .green-fill{
	background: #76C662;
}
.infograph .green-fill::before,.infograph .green-fill::after{
	background: #76C662;
}
/* green infographic */
/* blue infographic */
.infograph .blue-border{
	border-color: #1B6CB4;
}
.infograph .blue-fill{
	background: #1B6CB4;
}
.infograph .blue-fill::before,.infograph .blue-fill::after{
	background: #1B6CB4;
}
/* blue infographic */
/* tomato infographic */
.infograph .tomato-border{
	border-color: #FF947D;
}
.infograph .tomato-fill{
	background: #FF947D;
}
.infograph .tomato-fill::before,.infograph .tomato-fill::after{
	background: #FF947D;
}
/* tomato infographic */
/* yellow infographic */
.infograph .yellow-border{
	border-color: #FFAB17;
}
.infograph .yellow-fill{
	background: #FFAB17;
}
.infograph .yellow-fill::before,.infograph .yellow-fill::after{
	background: #FFAB17;
}
/* yellow infographic */
.infograph .outer-circle{
	position: absolute;
	width: 150px;
	height: 150px;
	background: #fff;
	border-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-radius: 50%;
	transform: rotate(45deg);
	box-sizing: border-box;
}
.infograph .inner-circle{
	position: absolute;
	top: 15px;
	left: 15px;
	height: 120px;
	width: 120px;
	border-radius: 50%;
}
.infograph .inner-circle span{
	display: block;
	text-align: center;
	line-height: 120px;
	color: #fff;
	font-family: sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}
.infograph .line{
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0px;
	left: 125px;
}
.infograph .line:before{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: -5px;
	left: -7px;
}
.infograph .line:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 238px;
	left: -8px;
}
.infograph p{
	font-size: 12px;
	font-weight: 600;
}
.infograph p span{
	font-size: 12px;
	color: #1b6cb4;
}
.infograph .process-icon{
	position: absolute;
	top: 115px;
	left: 0;
}
.infograph .process-icon .done{
	background: #5AD48B;
}
.infograph .process-icon .undone{
	background: #E8454E;
}
.process-icon i{
	font-size: 15px;
	color: #fff;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.upload i{
	font-size: 22px;
	color: #92E3A9;
}
.upload a{
	font-size: 12px;
	background: #F6F1F1;
	color: #818181;
	padding: 5px 15px;
	display: inline-block !important;
	border-radius: 5px;
	margin-left: 5px;
}
.infograph .delete{
	position: absolute;
	top: 20px;
	left: 0;
}
.infograph .delete a{
	font-size: 12px;
	background: #F6F1F1;
	color: #818181;
	padding: 5px 15px;
	display: inline-block !important;
	border-radius: 5px;
	margin-left: 5px;
}
.infograph .eta{
	position: absolute;
	top: 30px;
	left: 0;
}
.infograph .expire-date{
	position: absolute;
	top: 0;
	left: 150px;
}
.infograph .upload{
	position: absolute;
	top: 50px;
	left: 200px;
}
.infograph .deadline{
	position: absolute;
	top: 140px;
	left: 210px;
}
.infograph .edit{
	position: absolute;
	top: 175px;
	left: 210px;
}
.infograph .edit a{
	font-size: 12px;
	background: #F6F1F1;
	color: #818181;
	padding: 5px 20px;
	display: inline-block !important;
	border-radius: 5px;
	margin-left: 5px;
}
.infograph .processing-time{
	position: absolute;
	top: 215px;
	left: 145px;
}
.documents-required h2{
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 500;
	color: #818181;
}
.documents-required h6{
	font-size: 16px;
	font-weight: 500;
	color: #818181;
}
.documents-required-content .youtube-popup a{
	font-size: 60px;
	color: #D43C3C;
}
.documents-required-content .checklists span{
	font-size: 14px;
	color: #818181;
}
.documents-required-content .read-more a{
	background: #1D5B9E;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block !important;
}
/* consultant profile css */
.consultant-profile .side-bar ul li a{
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #818181;
	margin: 5px 0;
	padding: 10px 0;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.consultant-profile .side-bar ul li a:hover{
	background: #1D5B9E;
	color: #fff;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.consultant-profile .side-bar .sidebar-active a{
	background: #1D5B9E;
	color: #fff !important;
}
.consultant-profile .side-bar ul li i{
	width: 50px;
	text-align: center;
}
.consultant-profile-details-img{
	position: relative;
}
.consultant-profile-details-img img{
	border-radius: 50%;
}
.consultant-profile-details-img .upload-pp{
	position: absolute;
    top: 125px;
    left: 130px;
    background: #C4C4C4;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}
.consultant-profile-details-text .review-badge .review{
	color: #FEDA14;
	font-size: 18px;
}
.consultant-profile-details-text .review-badge .rate-badge{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background: #1D5B9E;
	color: #fff;
	padding: 5px 10px;
	border-radius: 6px;
	display: inline-block;
	margin-left: 10px;
}
.consultant-profile-details-text h2{
	font-size: 32px;
	color: #424347;
	margin-top: 15px;
}
.consultant-profile-details-text p{
	font-size: 14px;
	color: #424347;
}
.consultant-profile-details-text .hash-btn .hash-id{
	font-size: 18px;
	font-weight: 500;
	color: #FBBC19;
	background: #fff;
	border: 2px solid #FBBC19;
	padding: 10px 25px;
	border-radius: 6px;
	display: inline-block;
	margin-right: 10px;
}
.consultant-profile-details-text .hash-btn .book-btn{
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background: #1D5B9E;
	border: 2px solid #1D5B9E;
	padding: 10px 40px;
	border-radius: 6px;
	display: inline-block;
}
.consultant-dropdown .availability-content h6{
	display: inline-block;
}
.consultant-dropdown .dropdown{
	display: inline-block;
	border: 1px solid #818181;
	border-radius: 3px;
}
.availability-title h6,.topic-title h6,.session-title h6,.schedule-title h6{
	width: 100px;
	margin-bottom: 0;
	color: #373A37;
}
.availability-content h6{
	color: #818181;
}
.consultant-dropdown .btn{
	font-size: 14px;
	padding: 3px;
	color: #818181;
}
.consultant-dropdown .dropdown-item{
	color: #818181;
}
.consultant-dropdown .dropdown-item:hover{
	background: #1d5b9e;
	color: #fff;
}
.consultant-dropdown i{
	font-size: 22px;
	margin-right: 10px;
	vertical-align: middle;
}
.availability-content span{
	font-size: 14px;
	background: #1D5B9E;
	padding: 5px 10px;
	border-radius: 25px;
	color: #fff;
	display: inline-block;
	margin-left: 5px;
}
.topic-content i{
	color: #76C662;
}
.session-content i{
	color: #818181;
}
.schedule-content i{
	color: #1D5B9E;
}
.consultant-summary-review span:not(:last-child){
	text-transform: uppercase;
	color: #373A37;
	line-height: 26px;
	font-weight: 500;
}
.consultant-summary-review span b{
	font-size: 26px;
}
.consultant-summary-review .summary-review span{
	background: #fff;
	color: #373A37;
	display: inline-block;
	margin-bottom: -1px;
	font-weight: 600;
	cursor: pointer;
	text-transform: capitalize;
} 
.tab-active{
	color: #1D5B9E !important;
	border: 1px solid #373A37;
	border-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.consultant-summary-review hr{
	margin-top: 0;
	background: #373A37;
	opacity: 1;
}
.consultant-summary-review .summary-des h6{
	font-size: 18px;
	color: #1D5B9E;
	margin-top: 35px;
}
.consultant-summary-review .summary-des p{
	font-size: 14px;
	line-height: 22px;
	color: #373A37;
}
.personal-profile{
	display: none;
}
.consultant-summary-review .review-content{
	display: none;
}
.consultant-summary-review .reviwer-review{
	border-top: 1px solid #eae5e5;
	border-bottom: 1px solid #eae5e5;
	margin: 30px 0;
	padding: 25px 0;
}
.consultant-summary-review .reviewer-img img{
	border: 3px solid #18A0FB;
	border-radius: 50%;
}
.consultant-summary-review .reviewer-img img{
	border: 3px solid #18A0FB;
	border-radius: 50%;
}
.consultant-summary-review .reviewer-intro h6{
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
    color: #373A37;
	margin: 0;
}
.consultant-summary-review .reviewer-intro p{
	font-size: 14px;
    line-height: 22px;
	font-weight: 500;
    color: #373A37;
	margin: 3px 0;
}
.consultant-summary-review .reviewer-intro span{
	color: #FEDA14;
    font-size: 16px;
}
.consultant-summary-review .review h6{
	font-size: 15px;
	line-height: 24px;
	font-style: italic;
	font-weight: 600;
    color: #373A37;
}
.consultant-summary-review .review p{
	font-size: 14px;
    line-height: 22px;
    color: #373A37;
}
.consultant-summary-review .review span{
	display: block;
	text-align: right;
	font-size: 12px;
	text-transform: capitalize;
	color: #999898;
}
.consultant-summary-review .left-contact-info label{
	font-size: 14px;
	font-weight: 600;
	color: #373A37;
	margin-bottom: 10px;
}
.consultant-summary-review .left-contact-info input{
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	border: none;
    display: block;
    color: #373A37;
	margin-bottom: 10px;
}
.consultant-summary-review .left-contact-info input:focus{
	outline: none;
}
.consultant-summary-review .left-contact-info small{
	font-size: 12px;
	line-height: 18px;
	color: #818181;
}
.consultant-summary-review .left-contact-info .change-password h6{
	font-size: 18px;
	color: #373A37;
	text-transform: uppercase;
}
.consultant-summary-review .left-contact-info .change-password input{
	border: 1px solid #818181;
	padding: 5px 10px;
	border-radius: 5px;
}
.consultant-summary-review .left-contact-info .change-password .save-edit-btn a{
	display: inline-block;
	background: #27A8F9;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 50px;
}
.consultant-summary-review .left-contact-info .change-password .save-edit-btn a:nth-child(2){
	background: #58D48E;
	margin-right: 0;
}
.consultant-summary-review .right-contact-info label{
	font-size: 16px;
	font-weight: 600;
	color: #373A37;
	margin-bottom: 10px;
}
.consultant-summary-review .right-contact-info input{
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	border: none;
    display: block;
    color: #373A37;
	margin-bottom: 10px;
}
.consultant-summary-review .right-contact-info input:focus{
	outline: none;
}
/* topic list css */
.topic-list-sidebar h2{
	font-size: 30px;
	font-weight: 500;
	color: #373A37;
	margin-bottom: 50px;
	margin-top: 15px;
}
.university-filter h5{
	font-size: 20px;
	font-weight: 500;
	color: #595656;
}
.university-location h6{
	font-size: 16px;
	font-weight: 500;
	color: #595656;
	margin-bottom: 0;
}
.university-location span{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #C4C4C4;
	color: #fff;
	border-radius: 50%;
	font-size: 12px;
}
.topic-list-content .searchbar{
	width: 305px;
    margin: 0 auto;
    margin-bottom: 50px;
	padding: 0;
}
.university-blog{
	margin-top: 100px;
}
.university-blog-content h3{
	font-size: 18px;
	color: #373A37;
	line-height: 27px;
}
.university-blog-content p{
	font-size: 14px;
	color: #818181;
}
.university-blog-content a{
	display: inline-block;
	background: #1D5B9E;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 3px;
	margin-top: 20px;
}
.university-blog-content span{
	display: block;
	color: #1D5B9E;
	font-size: 16px;
}
.university-blog-content ol{
	margin-top: 10px;
}
.university-blog-content ol li{
	list-style: auto;
	font-size: 14px;
	color: #818181;
}
.university-list h2{
	font-size: 28px;
	color: #373A37;
	margin: 35px 0;
}
.university-list .col-md-4{
	width: 32%;
	margin: 0 5px;
	padding: 0;
	border: 1px solid #BCB9B9;
	border-radius: 5px;
}
.university-list .university-content h3{
	font-size: 22px;
	line-height: 33px;
	color: #373A37;
}
.university-list .university-content address{
	font-size: 16px;
	font-weight: 500;
	color: #373A37;
}
.university-list .university-content i{
	color: #818181;
	font-size: 16px;
}
.university-list .university-content span{
	color: #373A37;
	font-size: 16px;
	font-weight: 500;
}